+ PROGRAM SHOULD

LOOP THROUGH ALL THE ROWS

IF THE ROW IS FOR
    GARLIC, CELERY, OR LEMONS
        IT CHANGES THE PRICE

+ CODE SHOULD DO THE FOLLOWING

OPEN THE SPREADSHEET

FOR EACH ROW:
    CHECK WHETHER THE VALUE IN COLUMN A IS:
        CELERY, GARLIC, OR LEMONS

    IF IT IS, UPDATE THE PRICE IN COLUMN B

SAVE THE SPREADSHEET TO A NEW FILE (SO THAT WE DON'T LOSE THE OLD SPREADSHEET)


CELERY  1.19
GARLIC  3.07
LEMON   1.27

if produceName == 'Celery':
    cellObj = 1.19
if produceName == 'Garlic':
    cellObj = 3.07
if produceName == 'Lemon':
    cellObj = 1.27