body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.lesson {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    font-size: 20px;
}

h3 {
    margin: 10px 0;
    font-size: 16px;
}

pre {
    background-color: #444;
    padding: 10px;
    white-space: pre-wrap;
}

pre code {
    color: #fff;
}

.save-button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.save-button:hover {
    background-color: #777;
}
